services:
  exp.keycloak.server:
      container_name: exp.keycloak.server
      depends_on:
        - exp.db.keycloak
      environment:
        - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN:-dadmin}
        - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-dadmin}
        - KC_DB=postgres
        - KC_DB_URL=jdbc:postgresql://exp.db.keycloak:5432/${POSTGRES_DB:-dKeycloakDb}
        - KC_DB_USERNAME=${KC_DB_USERNAME:-duser}
        - KC_DB_PASSWORD=${KC_DB_PASSWORD:-dpassword}
      command: [
        "start-dev", # start in development mode
        "--import-realm", # import realm from file
      ]
      # command:
      #   - |
      #     ./opt/keycloak/bin/kc.sh import --file=/opt/keycloak/data/import/master-realm.json --override=true --optimized
      #     ./opt/keycloak/bin/kc.sh start-dev --import-realm --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
      restart: no
      volumes:
        - ./provisions/volumes/keycloak:/opt/keycloak/data/import
      ports:
        - "8080:8080"
      networks:
        - exp-keycloak-network

  exp.db.keycloak:
      container_name: exp.db.keycloak
      environment:
        - POSTGRES_USER=${POSTGRES_USER:-duser}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-dpassword}
        - POSTGRES_DB=${POSTGRES_DB:-dKeycloakDb}
      # env_file:
      #   - path: ./.env.example
      #     required: true # default
      #   - path: ./.env.override.example
      #     required: false
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-duser} -d ${POSTGRES_DB:-dKeycloakDb}"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 30s
      restart: no
      ports: 
          - "5432:5432"
      volumes:
          - exp_postgres_keycloak:/var/lib/postgresql/data/
      networks:
          - exp-keycloak-network

  exp.keycloak.identityserver:
    container_name: exp.keycloak.identityserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080"
      - "8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    networks:
      - exp-keycloak-network


networks:
  exp-keycloak-network:
    driver: bridge

volumes:
  exp_postgres_keycloak:
    name: exp_postgres_keycloak
